@font-face {
  font-family: "Harry";
  src: url(../fontes/harry.TTF);
}
body {
  display: flex;
  flex-direction: column;
  background-size: cover;
  size: 100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(to bottom, var(--cor-primaria), rgba(0, 0, 0, 0));
  display: flex;
  flex-direction: column; /* Alterado para exibir o título e o menu em coluna */
  justify-content: flex-start;
  align-items: center;
  font-family: Harry;
  padding: 0% 5% 3% 5%; /* Alterado para 5% em vez de 50px */
  backdrop-filter: blur(0.5vw);
  box-shadow: 0 0 10px 10px #100e0dd8;
}

.titulo {
  color: var(--cor-secundaria);
  font-size: 10vw; /* Convertido para 10vw */
  text-shadow: 1vw 1vw 2vw var(--cor-quaternaria); /* Convertido para vw */
  margin: 2vw;
}

.menu {
  display: flex;
  background-color: #100e0d86;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #100e0dd8;
}

.menu a {
  display: block;
  padding: 1%; /* Alterado para 1% em vez de 10px */
  text-decoration: none;
  color: var(--cor-secundaria);
  font-weight: bold;
  text-align: center;
  margin: auto;
  border-radius: 100px;
  font-family: "Harry";
  font-size: 3vw; /* Convertido para 3vw */
  text-shadow: 0.5vw 0.5vw 1vw var(--cor-quaternaria); /* Convertido para vw */
  transition: transform 0.3s ease;
}

.menu a:hover {
  background: radial-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
  transform: scale(1.3);
}

.icone {
  padding: 10px; /* Ajuste o valor do padding conforme necessário */
  margin-right: 2%; /* Alterado para 2% em vez de 40px */
  margin-left: 1%; /* Alterado para 1% em vez de 20px */
  max-width: 10%; /* Convertido para 10% */
  margin-right: auto;
}

a {
  text-decoration: none;
}
a.titulo{
  margin: 0;
}

#grifinoria {
  color: #fd552f;
  text-shadow: 0.5vw 0.5vw 1vw #581f00; /* Convertido para vw */
}

#corvinal {
  color: #6ab5e7;
  text-shadow: 0.5vw 0.5vw 1vw #1b4683; /* Convertido para vw */
}

#lufalufa {
  color: #f3b851;
  text-shadow: 0.5vw 0.5vw 1vw #43331f; /* Convertido para vw */
}

#sonserina {
  color: #b8ee67;
  text-shadow: 0.5vw 0.5vw 1vw #245224;
}
#geral{
  color: #ffffff;
  text-shadow: 3px 3px 5px #add3ff;
}
