:root {
  /* Definindo as variáveis de cor */
  --cor-primaria: #040303; /* Preto de feijão */
  --cor-secundaria: #ffbb3d; /* Borgonha antigo */
  --cor-terciaria: #5c6a7b; /* Azul cadete */
  --cor-quaternaria: #70491a; /* Preto espectral */
  --cor-Dourado: #760f19; /* Marrom dourado */
  --cor-Curry: #9a6b26; /* Curry */
  --cor-Bazar: #9da6ad; /* Bazar */
  --cor-Gunmetal: #2d434e; /* Gunmetal */
  --cor-Pretofumaca: #100e0d; /* Preto esfumaçado */
  --cor-Siena: #70491a; /* Siena crua */
}

.btn-yellow:hover{
  background-color: #000000ad;
  animation: pulse 3s infinite; /* animação de pulsação */
  color: #e7d8c6;
}

/* animação de pulsação */
@keyframes pulse {
  0% {
    box-shadow: 0px 0px 8vw rgb(0, 0, 0);
  }
  25% {
    box-shadow: 0px 0px 8vw rgb(255, 0, 0);
  }
  50% {
    box-shadow: 0px 0px 8vw rgb(0, 0, 0);
  }
  75%{
    box-shadow: 0px 0px 8vw red;
  }
  100%{
    box-shadow: 0px 0px 8vw rgb(0, 0, 0);
  }
}




